<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style2.css" type="text/css">
    
    <title>Loan Status Classifier Form</title>


</head>

<body>

    <div class="box"> </div>

    <h1>Client Details</h1>

    <button name="backbtn" type="button" onclick="back_function()">Back</button>

    <div class="box2">
        <form name="form1" action="result.html" onsubmit="return validation()" method="GET">


            <label for="gender"> Select Gender</label> &emsp;

            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp;


            <label for="loanamount">Loan Amount</label> &emsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Credit History</label> &emsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <label for="loanamount">Education Status</label> &emsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Credit History</label> &emsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <label for="loanamount">Loan Amount</label> &emsp;
            <input type="text" id="loanamount" name="loanamount">  <br>

            <label for="credithistory">Credit History</label> &emsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <label for="loanamount">Loan Amount</label> &emsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Credit History</label> &emsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <label for="loanamount">Loan Amount</label> &emsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Credit History</label> &emsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <label for="loanamount">Loan Amount</label> &emsp;
            <input type="text" id="loanamount" name="loanamount">

            <br>
            <br>
            <input type="submit" value="Proccess"> &emsp;
            <input type="reset" onclick=clear_function() value="Clear">


        </form>
    
    </div>

    <script src="../static/script.js"> </script>

</body>

</html>