<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style2.css" type="text/css">
    <script src="../static/script.js"> </script>
    
    <title>Loan Status Classifier Form</title>


</head>

<body>

    <div class="box"> </div>

    <h1>Client Details</h1>

    <button name="backbtn" type="button" onclick="back_function()">Back</button>
    
    <img name="bulb" src="../static/picture_2.png">
    <img name="brain" src="../static/picture_3.png">

    <div class="box2">
        <form name="form1" action="result.html" onsubmit="return validation()" method="GET">


            <label for="gender"> Gender</label> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp;


            <label for="loanamount">Matial Status</label> &emsp;&emsp;
            <select name="matialstatus">

                <option value="" disabled selected hidden></option>
                <option value="Male">Married</option>
                <option value="Female">Unmarried</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp; <br>

            <label for="credithistory">Dependents</label> &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
            <select name="dependents">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp;


            <label for="loanamount">Education</label> &emsp;&emsp;&emsp;&nbsp;
            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp; <br>


            <label for="credithistory">Self Employed</label> &emsp;&emsp;&emsp;&emsp;
            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp;


            <label for="loanamount">Property Area</label> &emsp;&ensp;&nbsp;
            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>   &emsp; &nbsp; &emsp;&emsp;&nbsp; <br>


            <label for="credithistory">Credit History</label> &emsp;&emsp;&emsp;&emsp;&nbsp;
            <input type="text" id="credithistory" name="credithistory" > &emsp; &nbsp; &emsp;&emsp;&nbsp;

            <label for="loanamount">Applicant Income</label> &nbsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Co-Applicant Income</label> &emsp;&nbsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;&emsp;&nbsp;

            <label for="loanamount">Loan Amount</label> &emsp;&emsp;
            <input type="text" id="loanamount" name="loanamount"> <br>

            <label for="credithistory">Loan Term</label> &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
            <input type="text" id="credithistory" name="credithistory"> &emsp; &nbsp; &emsp;

            <br>
            <br>
            <input type="submit" value="Proccess"> &emsp;
            <input type="reset" onclick=clear_function() value="Clear">


        </form>
    
    </div>

</body>

</html>