<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../static/script.js"> </script>
    
    <title>Loan Status Classifier Home</title>


</head>

<body>

    <div class="bgimage">

        <img src="../static/picture_1.jpg">

    </div>

    <div class=title>

        <h1>Loan Status</h1>
        <h2>Classifier</h2>

        <button type="button" onclick="window.location.href='{{ url_for( 'Form' ) }}';">Click Here</button>

        <h3>This is a machine learning webapplication. Deisgn & developed using <br> Python | HTML | CSS | JavaScripr to Pre Classify loan status Weather <br> the client will payback or not.</h3>

    </div>

    <div class=form_set>



    </div>

</body>

</html>